{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% comment %} <link rel="shortcut icon" type="image/x-icon" href="#"> {% endcomment %}
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>

{% comment %} 공통적인 부분은 layout을 만들어 사용하면 편리 {% endcomment %}