/* index.html의 css */
/* body {
    background-color: rgb(255, 255, 255);
} */

a {
    text-decoration: none;
    color: black;
}

.search {
    position: absolute;
    margin: 15px;
}

.weather {
    font-size: 15px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

.time {
    font-size: 20px;
    text-align: center;
    clear: both;        /* float로 인해 겹칠 때는 clear: both */
    padding: 30px;
}

.memo {
    width: 500px;
    margin: 0 auto;
}
/* cols="5" rows="15"  */
textarea {
    width: 500px;
    height: 300px;
    text-align: center;
    resize: none;
    background-color: rgb(226, 226, 226);
}

.save {
    text-align: center;
}

.bullet {
    margin-top: 30px;
}

.school {
    float: left;
    width: 400px;
    height: 200px;
    /* border-radius: 10px; */
    background-color: rgb(226, 226, 226);
    padding: 15px;
    margin-left: 20px;
}

.school-inner {
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.depart {
    float: left;
    width: 400px;
    height: 200px;
    /* border-radius: 10px; */
    background-color: rgb(226, 226, 226);
    padding: 15px;
    margin-left: 20px;
}

.depart-inner {
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.go {
    float: left;
    width: 400px;
    height: 200px;
    /* border-radius: 10px; */
    background-color: rgb(226, 226, 226);
    padding: 15px;
    margin-left: 20px;
}